body{
    margin: 0px;
    font-family: 'Poiret One', cursive;
}
.content_area{
    width: 80%;
    margin:50px auto;
    display: flex;
}
.box_two{
    width: 50%;
    margin-right: 5px;
    height: 400px;
}
.box_two:last-child{
    margin-right: 0px;
}
h1{
    font-size: 50px;
    margin-bottom: 0px;
    font-family: 'Merienda', cursive;
    margin: 0 auto;
}
.border_left{
    border-left: 3px solid #800080;
    padding-left: 15px;
}
p,a{
    font-size: 20px;
    font-family: 'Economica', sans-serif;
}
.marking_color{
    color: #800080;
}
img{
    max-height: 100%;
    max-width: 100%;
}
a#button{
    text-decoration: none;
    padding: 10px 40px;
    color: #800080;
    border: 3px solid #800080;
    border-radius: 5px;
    transition: 0.4s;
    display: inline-block;
    margin: 10px 0px;
}
a#button:hover{
    color: white;
    background-color: #800080;
}
/*************** Part 1 Area End Here *************/
.box_three{
    width: 33.3%;
    border-radius: 30px;
    margin-right: 30px;
    padding: 5px 20px;
    transition: 0.3s;
}
.box_three:last-child{
    margin-right: 0px;
}
.bg_1{
    background-color: #8cf0e367;
}
.bg_2{
    background-color: blanchedalmond;
}
.bg_3{
    background-color: rgb(255, 220, 247);
}
.bg_1 img, .bg_2 img, .bg_3 img{
    width: 200px;
}
.box_three:hover{
    background-color: white;
    outline: thick solid #800080;
}
/*************** Part 2 Area End Here *************/
.width_33{
    width: 33.3%;
}
.width_67{
    width: 67.6%;
}
.right_info {
    padding: 30px 0px 30px 50px;
}
.left_info{
    padding: 30px 50px 30px 0px;
}
/*************** Part 3 Area End Here *************/
.center{
    text-align: center;
}
.part_four .img_box{
    text-align: center;
}
/*************** Part 4 Area End Here *************/
footer{
    color: white;
    padding: 20px 0px;
    background-color: #320e5793;
}
footer p{
    color: #b3c3ffc5;
}