body{
    margin: 0px;
    font-family: 'Poiret One', cursive;
}
.content_area{
    width: 80%;
    margin:50px auto;
    display: flex;
}
.width_50{
    width: 50%;
    margin-right: 5px;
    height: 400px;
}
.width_50:last-child{
    margin-right: 0px;
}
h1{
    font-size: 50px;
    margin-bottom: 0px;
    font-family: 'Merienda', cursive;
    margin: 0 auto;
}
.border_left{
    border-left: 3px solid #ff014f;
    padding-left: 15px;
}
p,a{
    font-size: 20px;
    font-family: 'Economica', sans-serif;
}
.marking_color{
    color: #ff014f;
}
img{
    max-height: 100%;
    max-width: 100%;
}
a#button{
    text-decoration: none;
    padding: 10px 40px;
    color: #ff014f;
    border: 3px solid #ff014f;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-block;
    margin: 10px 0px;
}
a#button:hover{
    color: white;
    background-image: linear-gradient(
        45deg, #F0001F, #ff004f);
}
/*************** Part 1 Area End Here *************/
.box_three{
    width: 33.3%;
    border-radius: 30px;
    margin-right: 30px;
    padding: 5px 20px;
    transition: 0.3s;
}
.box_three:last-child{
    margin-right: 0px;
}
.bg_1{
    background-color: #8cf0e367;
}
.bg_2{
    background-color: blanchedalmond;
}
.bg_3{
    background-color: rgb(255, 220, 247);
}
.bg_1 img, .bg_2 img, .bg_3 img{
    width: 200px;
}
.box_three:hover{
    background-color: white;
    outline: thick solid #ff014f;
}
/*************** Part 2 Area End Here *************/
.width_33{
    width: 33.3%;
}
.width_67{
    width: 67.6%;
}
.right_info {
    padding: 30px 0px 30px 50px;
}
.left_info{
    padding: 30px 50px 30px 0px;
}
/*************** Part 3 Area End Here *************/
.center{
    text-align: center;
}
.fa{
    display:inline-block;
}
.content_area a{
    text-decoration: none;
    display: inline-block;
    margin: 50px;
    padding: 20px;
    font-size: 20px;
    color: black;
    transition: 0.3s;
    border-radius: 15px;
    background: linear-gradient(45deg, #FFFFFF 0%, #F4F4F4 50%, #FFFFFF 100%);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,.15);

}
.content_area a:hover{
    color:#ff014f;
    padding-bottom: 25px;
}
label{
    width: 110px;
    display: inline-block;
}
input{    
    width: 70%;
    height: 30px;
    margin: 5px 0px;
}
#submit{
    width: 20%;
    margin: 0 20%;
}
textarea{
    margin: 0 5px;
    width: 397px;
    height: 142px;
}
.input_sec{
    border-radius: 5px;
    transition: 0.5s;
}
.input_sec:hover{
    color: #ff014f;
    background: linear-gradient(45deg, #FFFFFF 0%, #F4F4F4 50%, #FFFFFF 100%);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,.15);
}
/*************** Part 4 Area End Here *************/
footer{
    color: white;
    padding: 20px 0px;
    background-color: #320e5793;
}
footer p{
    color: #b3c3ffc5;
}